############################
# OS Specific
############################
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

############################
# Packages and Build Artifacts
############################
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
dist/
build/
*.log
*.sql
*.sqlite
*.sqlite3

############################
# Node.js
############################
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
lib-cov/
coverage/
*.log

############################
# Strapi
############################
.env
exports/
.strapi/
